<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DataStatisticsMapper">
    <resultMap id="equipmentNameResultMap" type="breakdownDto">
        <result property="num" column="num"></result>
        <result property="equipmentName" column="equipment_name"></result>
    </resultMap>
    <select id="queryBreakdown" resultMap="equipmentNameResultMap">
        SELECT COUNT(k.id)as num,e.equipment_name
        FROM t_keep k
        LEFT JOIN  equipmentname e
        ON k.equipment_id=e.id
        WHERE 1=1
        <if test="startTime!=null ">
            <![CDATA[   and DATE_FORMAT(k.plan_time, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="stopTime!=null ">
            <![CDATA[  and DATE_FORMAT(k.plan_time, '%Y-%m-%d') <= DATE_FORMAT(#{stopTime}, '%Y-%m-%d')    ]]>
        </if>
        GROUP BY e.equipment_name
    </select>


    <resultMap id="queryMaintenanceStatisticMap" type="maintenanceStatistics">
        <result property="maintenanceName" column="pdept"></result>
        <result property="month" column="mon"></result>
        <result property="num" column="num"></result>

    </resultMap>

    <resultMap id="queryStatisticsMap" type="statistics">
        <result property="deptName" column="pdept"></result>
        <result property="month" column="m"></result>
        <result property="price" column="s"></result>
    </resultMap>

    <select id="queryMaintenanceStatistics" resultMap="queryMaintenanceStatisticMap">
      	SELECT  p.pdept,MONTH(plan_time) mon,COUNT(id) num FROM t_keep t,p_dept p WHERE t.dept_id=p.pdept_id
	GROUP BY p.pdept,mon ORDER BY p.pdept
    </select>

    <select id="queryStatistics" resultMap="queryStatisticsMap">
      SELECT  p.pdept,MONTH(plan_time) m,SUM(keep_money) s FROM t_keep t,p_dept p WHERE t.dept_id=p.pdept_id
      GROUP BY p.pdept,m ORDER BY p.pdept
    </select>

    <resultMap id="queryMap" type="EquipmentNumber">
        <result property="equipmentName" column="Equipment_name"></result>
        <result property="number" column="number"></result>
    </resultMap>
    <select id="queryEquipmentStatistics" resultMap="queryMap">
        SELECT wfm.`name` Equipment_name,ti.num number
        FROM w_facility_management wfm,w_location wl,w_facility_class2 wfc2,w_facility_unit wfu,w_region wr,w_facility_class1 wfc1,t_keep_invoking ti
        WHERE wfm.location_id=wl.id AND wfm.facility_class2_id=wfc2.id AND wfm.facility_unit_id=wfu.id AND wl.region_id=wr.id AND wfc1.id=wfc2.facility_class1_id
          AND wfm.number=ti.kit_id
    </select>

</mapper>