<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DcountingMapper">
    <resultMap id="DcountingResultMap" type="dcounting">
        <result property="time" column="time"></result>
        <result property="code" column="code"></result>
        <result property="countingsum" column="countingsum"></result>

        <result property="dequip.id" column="id"></result>
        <result property="dequip.name" column="name"></result>
        <result property="dequip.desum" column="desum"></result>
        <result property="dreview.id" column="id"></result>
        <result property="dreview.mperson" column="mperson"></result>
        <result property="dreview.status" column="status"></result>
        <result property="dreview.reviewer" column="reviewer"></result>
    </resultMap>
    <select id="queryByEquip" resultType="dcounting" parameterType="dcountingSelect">
        SELECT de.id,de.code,de.name,de.model,dcm.company,de.desum,dco.countingsum,abs(de.desum-dco.countingsum) as counting
        FROM d_equip de,d_company dcm,d_counting dco
        WHERE dco.equipId=de.id AND de.companyId=dcm.id
        <if test="equipId !=null and equipId !=''">
            AND de.name=#{dequip.name} AND de.desum=#{dequip.desum}
        </if>
        <if test="countingsum !=null and countingsum !=''">
            AND dco.countingsum=#{countingsum}
        </if>
        <if test="equipId !=null and equipId !='' and countingsum !=null and countingsum !=''">
            AND counting=#{counting}
        </if>
    </select>
    <insert id="addCounting" parameterType="dcounting">
        INSERT INTO d_counting()
    </insert>


    <select id="queryAll" resultMap="DcountingResultMap" parameterType="com.gxa.dto.DcountingDto">
        SELECT dc.time,dc.code,dr.mperson,dr.status,dr.reviewer
        FROM d_counting dc,d_review dr
        WHERE dc.reviewId=dr.id
        <if test="code !=null and code !=''">
            And dc.code=#{code}
        </if>
        <if test="dreview.status !=null ">
            And dr.status=#{dreview.status}
        </if>
        <if test="startTime !=null and startTime !='' and endTime !=null and endTime !=''">
            And dc.time=#{time} Between startTime and endTime
        </if>
    </select>



</mapper>