<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DequipMapper">

    <resultMap id="dequipResultMap" type="dequip">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="type" column="type"></result>
        <result property="model" column="model"></result>
        <result property="price" column="price"></result>
        <result property="sum" column="sum"></result>
        <result property="company" column="company"></result>
        <result property="saveArea" column="saveArea"></result>
        <result property="goodsId" column="goodsId"></result>
    </resultMap>

    <select id="queryDequips" resultMap="dequipResultMap">
        SELECT id,code,name,type,model,price,sum,company,saveArea,goodsId
        FROM d_equip
    </select>
</mapper>