<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DequipMapper">

    <resultMap id="dequipResultMap" type="dequip">
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="detype.id" column="typeId"></result>
        <result property="detype.type" column="type"></result>
        <result property="model" column="model"></result>
        <result property="decompany.id" column="compantId"></result>
        <result property="decompany.company" column="company"></result>
        <result property="desave.id" column="typeId"></result>
        <result property="desave.saveArea" column="saveArea"></result>
        <result property="goodsId" column="goodsId"></result>
    </resultMap>
    <insert id="addDequip" parameterType="com.gxa.entity.DequipToAdd">
        INSERT INTO d_equip(code,name,companyId,goodsId,typeId,model,saveId)
        VALUES(#{code},#{name},#{companyId},#{goodsId},#{typeId},#{model},#{saveId})
    </insert>


    <select id="queryChooseList" resultMap="dequipResultMap" parameterType="com.gxa.dto.DequipDto">
        SELECT de.code,de.name,dt.type,de.model,dc.company,ds.saveArea,de.goodsId
        FROM d_equip de,d_save ds,d_type dt,d_company dc
        WHERE ds.id=de.saveId AND de.typeId=dt.id AND dc.id=de.companyId
        <if test="code !=null and code !=''">
            AND code=#{code}
        </if>
        <if test="name !=null and name !=''">
            AND name=#{name}
        </if>
        <if test="typeId !=null">
            AND dt.id=#{typeId}
        </if>
        <if test="saveId !=null">
            AND ds.id=#{saveId}
        </if>
    </select>

</mapper>