<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DpartsMapper">

    <resultMap id="DpartsResultMap" type="dparts">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="count" column="count"></result>
    </resultMap>
    <select id="queryList" resultMap="DpartsResultMap">
        SELECT dp.id,dp.name,count(de.id) total
        FROM d_equip de,d_parts dp
        WHERE dp.equipIds=de.id
    </select>

</mapper>