<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DreturnMapper">
    <resultMap id="DreturnResultMap" type="Dreturn">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="departement" column="departement"/>
        <result property="time" column="time"/>

        <association property="Dreview" javaType="com.gxa.entity.Dreview">
            <id property="id" column="id"/>
            <result property="mperson" column="mperson"/>
            <result property="status" column="status"/>
            <result property="reviewer" column="reviewer"/>
        </association>
    </resultMap>

    <select id="queryAll" resultMap="DreturnResultMap">
        SELECT da.time,da.code,da.department,dr.mperson,dr.status,dr.reviewer
        FROM d_return da,d_review dr
        WHERE da.reviewId=dr.id
    </select>
</mapper>