<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.DwarehouseMapper">

    <resultMap id="dwarehouseResultMap" type="dwarehouse">
        <result property="code" column="code"></result>
        <result property="bill" column="bill"></result>
        <result property="time" column="time"></result>
        <result property="dreview.mperson" column="mperson"></result>
        <result property="dreview.status" column="status"></result>
        <result property="dreview.reviewer" column="reviewer"></result>
    </resultMap>

    <select id="queryDwarehouse" resultType="com.gxa.entity.Dwarehouse" parameterType="com.gxa.dto.DwarehouseDto">
        SELECT dw.time,dw.code,dw.bill,dr.mperson,dr.status,dr.reviewer
        FROM d_warehouse dw,d_review dr
        WHERE dw.reviewId=dr.id
        <if test="bill != null and bill != ''">
            AND dw.bill=#{bill}
        </if>
        <if test="dreview.status != null">
            AND dr.status=#{dreview.status}
        </if>
        <if test="code != null and code !=''">
            AND dw.code=#{code}
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            AND dw.time=#{time} BETWEEN startTime AND endTime
        </if>
    </select>

    <insert id="addDwarehouse" parameterType="Dwarehouse">
        INSERT INTO d_warehouse(code,time,bill,note,dequip_sum,dequip_price)
        VALUES(#{code},#{time},#{bill},#{note},#{dequip_sum},#{dequip_price})
    </insert>

    <delete id="deleteDwarehouse" parameterType="int">
        DELETE FROM d_warehouse WHERE id=#{id}
    </delete>

    <update id="updateDwarehouse" parameterType="Dwarehouse">
        UPDATE d_warehouse
            SET code=#{code},time=#{time},bill=#{bill},dr.mperson=#{dreview.mperson},dr.status=#{dreview.status},dr.reviewer=#{dreview.reviewer}
            WHERE id=#{reviewId}
    </update>
</mapper>