<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.EquipmentManagementMapper">
    <resultMap id="equipmentManagementMap" type="equipmentManagement">
    <id property="id" column="id"></id>
    <result property="equipmentName.equipName" column="equipment_name"></result>
    <result property="equipmentClass.equipmentClassName" column="equipmentclassification_name"></result>
    <result property="state" column="state"></result>
    <result property="price" column="price"></result>
    <result property="modalities" column="modalities"></result>
    <result property="useunits.useunitName" column="useunits_name"></result>
    <result property="storageLocation.storageLocationName" column="storagelocation_name"></result>
    <result property="responsiblePerson" column="responsible_person"></result>
    </resultMap>

    <resultMap id="EquipmentClassMap" type="equipmentClass">
        <id property="id" column="id"></id>
        <result property="equipmentClassName" column="equipmentclassification_name"></result>
    </resultMap>
    <resultMap id="EquipmentNameMap" type="equipmentName">
        <id property="id" column="id"></id>
        <result property="equipName" column="equipment_name"></result>
    </resultMap>
    <resultMap id="EquipmentUseunitsMap" type="useunits">
        <id property="id" column="id"></id>
        <result property="useunitName" column="useunits_name"></result>
    </resultMap>
    <resultMap id="StorageLocationMap" type="storageLocation">
        <id property="id" column="id"></id>
        <result property="storageLocationName" column="storagelocation_name"></result>
    </resultMap>
    <delete id="deleteEquipmentManagement" parameterType="integer">
        DELETE FROM equipment_managment WHERE id=#{id}
    </delete>

    <select id="queryAllEquipmentManagement" resultMap="equipmentManagementMap" parameterType="equipmentManagementDto" >
        SELECT e1.id,e3.equipment_name,e2.equipmentclassification_name,e1.state,e1.price,e1.modalities,u.useunits_name,s.storagelocation_name,e1.responsible_person
        FROM equipment_managment e1,equipmentclassification e2,equipmentname e3,storage_location s,use_units u
        WHERE e1.equipmentclassification_id=e2.id and e1.equipmentname_id=e3.id and e1.useunits_id=u.id and e1.storagelocation_id=s.id
        <if test="id != null and id!=''">
            AND e1.id=#{id}
        </if>
        <if test="useunitId != null and useunitId !=''">
            AND u.id=#{useunitId}
        </if>
        <if test="equipmentclassificationId != null and equipmentclassificationId !=''">
            AND e2.id=#{equipmentclassificationId}
        </if>
        <if test="modalities != null and modalities!=''">
            AND e1.modalities=#{modalities}
        </if>
        <if test="state != null and state!=''">
            AND e1.state=#{state}
        </if>
    </select>
    <select id="queryConut" resultType="java.lang.Integer" parameterType="equipmentManagementDto">
        SELECT count(e1.id)
        FROM equipment_managment e1,equipmentclassification e2,equipmentname e3,storage_location s,use_units u
        WHERE e1.equipmentclassification_id=e2.id and e1.equipmentname_id=e3.id and e1.useunits_id=u.id and e1.storagelocation_id=s.id
        <if test="id != null and id!=''">
            AND e1.id=#{id}
        </if>
        <if test="useunitId != null and useunitId !=''">
            AND u.id=#{useunitId}
        </if>
        <if test="equipmentclassificationId != null and equipmentclassificationId!=''">
            AND e2.id=#{equipmentclassificationId}
        </if>
        <if test="modalities != null and modalities!=''">
            AND e1.modalities=#{modalities}
        </if>
        <if test="state != null and state!=''">
            AND e1.state=#{state}
        </if>
    </select>
    <select id="queryEquipmentClass" resultMap="EquipmentClassMap">
         SELECT * FROM equipmentclassification
    </select>
    <select id="queryEquipmentName" resultMap="EquipmentNameMap">
        SELECT * FROM equipmentname
    </select>
    <select id="queryEquipmentUseunits" resultMap="EquipmentUseunitsMap">
        SELECT * FROM use_units
    </select>
    <select id="queryEquipStorageLocation" resultMap="StorageLocationMap">
        SELECT * FROM storage_location
    </select>

    <insert id="addEquipmentManagement" parameterType="equipmentManagementAU">
        INSERT INTO equipment_managment(id,equipmentname_id,equipmentclassification_id,state,price,modalities,useunits_id,storagelocation_id,responsible_person)VALUES(#{id},#{equipmentNameId},#{equipmentClassId},#{state},#{price},#{modalities},#{useunitsId},#{storageLocationId},#{responsiblePerson})
    </insert>

    <update id="updateEquipmentManagement" parameterType="equipmentManagementAU">
        UPDATE equipment_managment
        SET modalities=#{modalities},useunits_id=#{useunitsId},storagelocation_id=#{storageLocationId},
        responsible_person=#{responsiblePerson},equipmentclassification_id=#{equipmentClassId},
        equipmentname_id=#{equipmentNameId},price=#{price},state=#{state}
        WHERE id=#{id}
    </update>
</mapper>