<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.EquipmentManagementMapper">
    <resultMap id="equipmentManagementMap" type="equipmentManagement">
    <id property="id" column="id"></id>
        <result property="equipmentName.id" column="equipmentname_id"></result>
        <result property="equipmentName.equipName" column="equipment_name"></result>

        <result property="equipmentClass.id" column="equipmentclassification_id"></result>
        <result property="equipmentClass.equipmentClassName" column="equipmentclassification_name"></result>

        <result property="state" column="state"></result>
        <result property="price" column="price"></result>
        <result property="modalities" column="modalities"></result>

        <result property="useunits.id" column="useunits_id"></result>
        <result property="useunits.useunitName" column="useunits_name"></result>

        <result property="storageLocation.id" column="storagelocation_id"></result>
        <result property="storageLocation.storageLocationName" column="storagelocation_name"></result>
        <result property="responsiblePerson" column="responsible_person"></result>
    </resultMap>

    <resultMap id="EquipmentClassMap" type="equipmentClass">
        <id property="id" column="id"></id>
        <result property="equipmentClassName" column="equipmentclassification_name"></result>
    </resultMap>
    <resultMap id="EquipmentNameMap" type="equipmentName">
        <id property="id" column="id"></id>
        <result property="equipName" column="equipment_name"></result>
    </resultMap>
    <resultMap id="EquipmentUseunitsMap" type="useunits">
        <id property="id" column="id"></id>
        <result property="useunitName" column="useunits_name"></result>
    </resultMap>
    <resultMap id="StorageLocationMap" type="storageLocation">
        <id property="id" column="id"></id>
        <result property="storageLocationName" column="storagelocation_name"></result>
    </resultMap>
    <resultMap id="equipmentListMap" type="equipmentList">
        <id property="id" column="code"></id>
        <result property="equipmentName" column="name"></result>
        <result property="equipmentClass" column="type"></result>
        <result property="state" column="test_results"></result>
    </resultMap>
    <resultMap id="maintenanceRecordsMap" type="maintenanceRecords">
        <id property="id" column="id"></id>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="desc" column="desc"></result>
    </resultMap>
    <resultMap id="technicalDataMap" type="technicalData">
        <id property="id" column="data_id"></id>
        <result property="profileName" column="data_name"></result>
        <result property="equipmentModel" column="equipment_model"></result>
        <result property="dataDesc" column="data_desc"></result>
    </resultMap>
    <resultMap id="equipmentClassificationMap" type="equipmentClassification">
        <result property="equipmentClassificationName" column="equipmentclassification_name"></result>
        <result property="num" column="num"></result>
    </resultMap>
    <resultMap id="equipmentclassificationDropListMap" type="equipmentNameNum">
        <result property="equipName" column="equipment_name"></result>
        <result property="num" column="num"></result>
    </resultMap>
    <delete id="deleteEquipmentManagement" parameterType="integer">
        DELETE FROM equipment_managment WHERE id=#{id}
    </delete>
    <delete id="deleteEquipmentClassification" parameterType="integer">
        DELETE FROM equipmentclassification WHERE id=#{id}
    </delete>
    <delete id="deleteEquipmentManagementByIds" parameterType="list">
        DELETE FROM equipment_managment WHERE id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryAllEquipmentManagement" resultMap="equipmentManagementMap" parameterType="equipmentManagementDto" >
        SELECT e1.id,e3.equipment_name,e1.equipmentname_id,e1.equipmentclassification_id,e1.useunits_id,e1.storagelocation_id,
        e2.equipmentclassification_name,e1.state,e1.price,e1.modalities,u.useunits_name,s.storagelocation_name,e1.responsible_person
        FROM equipment_managment e1,equipmentclassification e2,equipmentname e3,storage_location s,use_units u
        WHERE e1.equipmentclassification_id=e2.id and e1.equipmentname_id=e3.id and e1.useunits_id=u.id and e1.storagelocation_id=s.id
        <if test="id != null and id!=''">
            AND e1.id=#{id}
        </if>
        <if test="useunitId != null and useunitId !=''">
            AND u.id=#{useunitId}
        </if>
        <if test="equipmentclassificationId != null and equipmentclassificationId !=''">
            AND e2.id=#{equipmentclassificationId}
        </if>
        <if test="modalities != null and modalities!=''">
            AND e1.modalities=#{modalities}
        </if>
        <if test="state != null and state!=''">
            AND e1.state=#{state}
        </if>
    </select>
    <select id="queryConut" resultType="java.lang.Integer" parameterType="equipmentManagementDto">
        SELECT count(e1.id)
        FROM equipment_managment e1,equipmentclassification e2,equipmentname e3,storage_location s,use_units u
        WHERE e1.equipmentclassification_id=e2.id and e1.equipmentname_id=e3.id and e1.useunits_id=u.id and e1.storagelocation_id=s.id
        <if test="id != null and id!=''">
            AND e1.id=#{id}
        </if>
        <if test="useunitId != null and useunitId !=''">
            AND u.id=#{useunitId}
        </if>
        <if test="equipmentclassificationId != null and equipmentclassificationId!=''">
            AND e2.id=#{equipmentclassificationId}
        </if>
        <if test="modalities != null and modalities!=''">
            AND e1.modalities=#{modalities}
        </if>
        <if test="state != null and state!=''">
            AND e1.state=#{state}
        </if>
    </select>
    <select id="queryEquipmentClass" resultMap="EquipmentClassMap">
         SELECT * FROM equipmentclassification
    </select>
    <select id="queryEquipmentName" resultMap="EquipmentNameMap">
        SELECT * FROM equipmentname
    </select>
    <select id="queryEquipmentUseunits" resultMap="EquipmentUseunitsMap">
        SELECT * FROM use_units
    </select>
    <select id="queryEquipStorageLocation" resultMap="StorageLocationMap">
        SELECT * FROM storage_location
    </select>
    <select id="querylistEquipmentone" resultMap="equipmentListMap">
        SELECT d.code,d.name,d1.type,t.test_results
        FROM d_equip d,t_keep t,d_type d1
        WHERE d.code=t.equip_code and d.typeId=d1.id
    </select>
    <select id="querylistMaintenanceRecords" resultMap="maintenanceRecordsMap">
        SELECT t.id,t.start_time,t.end_time,t.desc FROM t_keep t
    </select>
    <select id="querylistTechnicalData" resultMap="technicalDataMap">
        SELECT t.data_id,t.data_name,t.equipment_model,t.data_desc FROM t_data t
    </select>
    <select id="queryAllEquipmentClassifications" resultMap="equipmentClassificationMap">
       		SELECT equipmentclassification_name,count(*) num
			FROM equipment_managment e1,equipmentclassification e2
			WHERE e1.equipmentclassification_id=e2.id
			GROUP BY equipmentclassification_name
    </select>
    <select id="queryquipmentclassificationDropList" resultMap="equipmentclassificationDropListMap" parameterType="string">
			SELECT e3.equipmentclassification_name,e2.equipment_name,count(*) num
            FROM equipment_managment e1,equipmentname e2,equipmentclassification e3
            WHERE e1.equipmentname_id=e2.id and e1.equipmentclassification_id=e3.id and e3.equipmentclassification_name=#{equipmentClassificationName}
            GROUP BY equipmentclassification_id,equipmentname_id
    </select>

    <insert id="addEquipmentManagement" parameterType="equipmentManagementAU">
        INSERT INTO equipment_managment(id,equipmentname_id,equipmentclassification_id,state,price,modalities,useunits_id,storagelocation_id,responsible_person)VALUES(#{id},#{equipmentNameId},#{equipmentClassId},#{state},#{price},#{modalities},#{useunitsId},#{storageLocationId},#{responsiblePerson})
    </insert>
    <insert id="addEquipmentClassifications" parameterType="equipmentClass">
        INSERT INTO equipmentclassification(equipmentclassification_name)VALUES(#{equipmentClassName})
    </insert>

    <update id="updateEquipmentManagement" parameterType="equipmentManagementAU">
        UPDATE equipment_managment
        SET modalities=#{modalities},useunits_id=#{useunitsId},storagelocation_id=#{storageLocationId},
        responsible_person=#{responsiblePerson},equipmentclassification_id=#{equipmentClassId},
        equipmentname_id=#{equipmentNameId},price=#{price},state=#{state}
        WHERE id=#{id}
    </update>
    <update id="updateEquipmentClassification" parameterType="equipmentClass">
        UPDATE equipmentclassification
        SET equipmentclassification_name=#{equipmentClassName}
        WHERE id=#{id}
    </update>
    <update id="updateEquipmentclassification" parameterType="equipmentName">
        UPDATE equipmentname
        SET equipment_name=#{equipName}
        WHERE id=#{id}
    </update>
</mapper>