<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.KeepFundsMapper">
    <resultMap id="keepFundsResultMap" type="keepFunds">
        <id property="id" column="id"></id>
        <result property="equipmentNumber" column="equipment_number"></result>
        <result property="equipment.equipmentName" column="equipment_name"></result>
        <result property="equipment.id" column="eid"></result>
        <result property="equipmentId" column="equipment_id"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="testResults" column="test_results"></result>
        <result property="keepMoney" column="keep_money"></result>

    </resultMap>
    <insert id="addKeepFunds">
        insert into t_keep(id,equipment_id,equipment_number,start_time,end_time,test_results,keep_money,`desc`)
        values (#{id},#{equipmentId},#{equipmentNumber},#{startTime},#{endTime},#{testResults},#{keepMoney},#{desc})
    </insert>
    <update id="updateKeepFunds" parameterType="keepFundsAU">
        update t_keep
        set equipment_id=#{equipmentId},equipment_number=#{equipmentNumber},start_time=#{startTime},end_time=#{endTime},test_results=#{testResults},keep_money=#{keepMoney}
        where  id=#{id}
    </update>
    <delete id="deleteKeepFunds">
        delete from t_keep where id=#{id}
    </delete>
    <select id="queryAllKeepFunds" resultMap="keepFundsResultMap">
        SELECT k.id,e.equipment_name,e.id as eid,k.equipment_number,k.start_time,k.end_time,k.test_results,k.keep_money
        FROM t_keep k LEFT JOIN  equipmentname e
        ON k.equipment_id=e.id where 1=1

        <if test="startTime!=null">
            <![CDATA[   and DATE_FORMAT(k.start_time, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endTime!=null">
            <![CDATA[  and DATE_FORMAT(k.end_time, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="id != null and id !=''">
            and k.id=#{id}
        </if>
    </select>


</mapper>