<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.KeepPlanMapper">
    <resultMap id="keepPlanResultMap" type="keepPlan">
        <id property="id" column="id"></id>
        <result property="equipmentNumber" column="equipment_number"></result>
        <result property="desc" column="desc"></result>
        <result property="planTime" column="plan_time"></result>
        <result property="equipment.equipmentName" column="equipment_name"></result>
        <result property="equipment.id" column="eid"></result>
        <result property="equipmentId" column="equipment_id"></result>
        <result property="startTime" column="start_time"></result>
        <result property="endTime" column="end_time"></result>
    </resultMap>


    <insert id="addKeepPlan">
        INSERT INTO t_keep(id,equipment_id,equipment_number,`desc`,plan_time,start_time,end_time)
        VALUES(#{id},#{equipmentId},#{equipmentNumber},#{desc},#{planTime},#{startTime},#{endTime})
    </insert>

    <update id="updateKeepPlan" parameterType="keepPlanAU">
        UPDATE t_keep
        SET equipment_id=#{equipmentId},equipment_number=#{equipmentNumber},`desc`=#{desc},plan_time=#{planTime},start_time=#{startTime},end_time=#{endTime}
        WHERE id=#{id}
    </update>
    <delete id="deleteKeepPlan">
        DELETE FROM t_keep WHERE id=#{id}
    </delete>

    <select id="queryAllKeepPlan"  resultMap="keepPlanResultMap">
        SELECT k.id,e.equipment_name,e.id as eid,k.equipment_number,k.desc,k.plan_time,e.id as eid,k.start_time,k.end_time
        FROM t_keep k,equipmentname e
        WHERE k.equipment_id=e.id

        <if test="startTime!=null ">
            <![CDATA[   and DATE_FORMAT(k.start_time, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endTime!=null ">
            <![CDATA[  and DATE_FORMAT(k.end_time, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="id != null and id !=''">
            and k.id=#{id}
        </if>
    </select>

</mapper>