<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PersonalSubmitMapper">
    <insert id="addPersonalSubmit">
        INSERT INTO p_order(personal_id,keep_id)
        VALUES(#{personalId},#{keepRecordId})
    </insert>
</mapper>