<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PersonalJobMapper">
    <resultMap id="queryAllPersonalJobresultMap" type="personalJob">
        <id property="pjobId" column="pjob_id"></id>
        <result property="pjob" column="pjob"></result>
    </resultMap>
    <select id="queryAllPersonalJob" resultMap="queryAllPersonalJobresultMap">
        SELECT * FROM p_job
    </select>
</mapper>