<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PersonalAttendanceMapper">
    <resultMap id="queryAllPersonalAttendanceresultMap" type="personalAttendance">
        <id property="id" column="id"/>
        <result property="signin" column="signin"/>
        <result property="signout" column="signout"/>
        <result property="pname" column="pname"/>
        <result property="personal.id" column="pid"/>
        <result property="personal.personalDept.pdept" column="pdept"/>
        <result property="personal.personalJob.pjob" column="pjob"/>
    </resultMap>
    <select id="queryAllPersonalAttendance" resultMap="queryAllPersonalAttendanceresultMap">
        SELECT ps.id,ps.pname,pd.pdept,pj.pjob,ps.signin,ps.signout,ps.pid
        FROM p_sign ps,p_list pl,p_dept pd,p_job pj
        WHERE ps.pid=pl.id AND pl.pdept_id=pd.pdept_id AND pl.pjob_id=pj.pjob_id
    </select>
</mapper>