<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.PersonalMapper">
    <resultMap id="personalResultMap" type="personal">
        <id property="id" column="id"/>
        <result property="pname" column="pname"/>
        <result property="personalDept.pdeptId" column="pdept_id"/>
        <result property="personalDept.pdept" column="pdept"/>
        <result property="personalJob.pjobId" column="pjob_id"/>
        <result property="personalJob.pjob" column="pjob"/>
        <result property="personalClass.pclassId" column="pclass_id"/>
        <result property="personalClass.pclass" column="pclass"/>
    </resultMap>

    <insert id="addPersonal" parameterType="personal">
        INSERT INTO p_list(pname,pdept_id,pjob_id,pclass_id)
        VALUES(#{pname},#{personalDept.pdeptId},#{personalJob.pjobId},#{personalClass.pclassId})
    </insert>

    <delete id="deletePersonal" parameterType="int">
        DELETE FROM p_list WHERE id=#{id}
    </delete>

    <select id="queryAllPersonal" resultMap="personalResultMap">
        SELECT pl.id,pl.pname,pd.pdept_id,pd.pdept,pj.pjob_id,pj.pjob,pc.pclass_id,pc.pclass
        FROM p_list pl,p_dept pd,p_job pj,p_class pc
        WHERE pl.pdept_id=pd.pdept_id AND pl.pjob_id=pj.pjob_id AND pl.pclass_id=pc.pclass_id
    </select>
    <select id="queryAllPersonalList" resultMap="personalResultMap" parameterType="com.gxa.dto.PersonalQueryDto">
        SELECT pl.id,pl.pname,pd.pdept_id,pd.pdept,pj.pjob_id,pj.pjob,pc.pclass_id,pc.pclass
        FROM p_list pl,p_dept pd,p_job pj,p_class pc
        WHERE pl.pdept_id=pd.pdept_id AND pl.pjob_id=pj.pjob_id AND pl.pclass_id=pc.pclass_id
            <if test="pname != null">
                AND pl.pname=#{pname}
            </if>
            <if test="pdeptId != null and pdeptId != '' ">
                AND pd.pdept_id=#{pdeptId}
            </if>
            <if test="pjobId != null and pjobId != '' ">
                AND pj.pjob_id=#{pjobId}
            </if>
    </select>

    <select id="queryByPersonalId" resultMap="personalResultMap" parameterType="int">
        SELECT pl.id,pl.pname,pd.pdept_id,pd.pdept,pj.pjob_id,pj.pjob,pc.pclass_id,pc.pclass
        FROM p_list pl,p_dept pd,p_job pj,p_class pc
        WHERE pl.pdept_id=pd.pdept_id AND pl.pjob_id=pj.pjob_id AND pl.pclass_id=pc.pclass_id AND pl.id=#{id}
    </select>

    <select id="queryAllPersonalCzList" resultMap="personalResultMap" parameterType="com.gxa.dto.PersonalDto">
        SELECT pl.id,pl.pname,pd.pdept_id,pd.pdept,pj.pjob_id,pj.pjob,pc.pclass_id,pc.pclass
        FROM p_list pl,p_dept pd,p_job pj,p_class pc
        WHERE pl.pdept_id=pd.pdept_id AND pl.pjob_id=pj.pjob_id AND pl.pclass_id=pc.pclass_id
        <if test="pname != null">
            AND pl.pname=#{pname}
        </if>
        <if test="pdeptId != null and pdeptId != '' ">
            AND pd.pdept_id=#{pdeptId}
        </if>
        <if test="pjobId != null and pjobId != '' ">
            AND pj.pjob_id=#{pjobId}
        </if>
        <if test="pclassId != null and pclassId != '' " >
            AND pc.pclass_id=#{pclassId}
        </if>
    </select>

    <update id="updatePersonal" parameterType="personal">
        UPDATE p_list
        SET pname=#{pname},pdept_id=#{personalDept.pdeptId},pjob_id=#{personalJob.pjobId},pclass_id=#{personalClass.pclassId}
<!--        <set>-->
<!--            <if test="pname != null and pname != '' ">-->
<!--                pname=#{pname},-->
<!--            </if>-->
<!--            <if test="personalDept.pdeptId != null and personalDept.pdeptId != '' ">-->
<!--                pdept_id=#{personalDept.pdeptId},-->
<!--            </if>-->
<!--            <if test="personalJob.pjobId != null and personalJob.pjobId != '' ">-->
<!--                pjob_id=#{personalJob.pjobId},-->
<!--            </if>-->
<!--            <if test="personalClass.pclassId != null and personalClass.pclassId != '' ">-->
<!--                pclass_id=#{personalClass.pclassId}-->
<!--            </if>-->
<!--        </set>-->
        WHERE id=#{id}
    </update>
</mapper>