<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="role">
        <id property="id" column="id"></id>
        <result property="roleName" column="role_name"></result>
        <result property="desc" column="role_desc"></result>
        <result property="personnelNumber" column="personnel_number"></result>
        <result property="addTime" column="add_time"></result>
        <result property="state" column="role_state"></result>
    </resultMap>


    <select id="queryAll" resultMap="roleResultMap">
        SELECT r.id,r.role_name,r.role_desc,IFNULL(v.personnel_number,0) personnel_number,r.add_time,r.role_state
        FROM t_role r LEFT JOIN (SELECT role_id,count(role_id) AS personnel_number
        FROM t_user_role ur
        GROUP BY role_id) v
        ON r.id	= v.role_id
        WHERE 1=1
        <if test="roleName != null and roleName !=''">
            AND r.role_name=#{roleName}
        </if>

        <if test="state != null and state!=''">
            AND r.state=#{state}
        </if>
    </select>

    <insert id="add">
        INSERT INTO t_role(role_name,role_desc,add_time,role_state)
        VALUES (#{roleName},#{desc},#{addTime},#{state})
    </insert>

    <update id="update">
        UPDATE t_role SET role_name=#{roleName},role_desc=#{desc},role_state=#{state}
        WHERE id=#{id}
    </update>

    <update id="updateRoleState" parameterType="integer">
        UPDATE t_role SET role_state=#{state}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_role WHERE id=#{id}
    </delete>

    <update id="updateUserState" parameterType="stateDto">
        UPDATE t_user SET user_state = replace(user_state,user_state,#{state})
        WHERE role_name=#{roleName}
    </update>

</mapper>