<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.StatuteMapper">

    <resultMap id="statuteTypeResultMap" type="statuteType">
        <id property="statuteTypeId" column="statute_type_id"/>
        <result property="statuteTypeName" column="statute_type_name"/>
        <result property="statuteTypeUpdateTime" column="statute_type_update_time"/>
    </resultMap>

    <resultMap id="statuteResultMap" type="statute">
        <id property="statuteId" column="statute_id"/>
        <result property="statuteName" column="statute_name"/>
        <result property="details" column="details"/>
        <result property="statuteUpdateTime" column="statute_update_time"/>
        <result property="fileAddress" column="fileAddress"/>
        <association property="statuteType" resultMap="statuteTypeResultMap"/>
    </resultMap>
    <insert id="add">
        INSERT INTO statute (statute_name,details,fileAddress,statute_type_id)
        VALUES (#{statuteName},#{details},#{fileAddress},#{statuteTypeId})
    </insert>
    <update id="update">
        UPDATE statute
        <set>
            <if test= "statuteName != null and statuteName != '' ">
                statute_name = #{statuteName},
            </if>
            <if test= "details != null and details != '' ">
                details = #{details},
            </if>
            <if test= "fileAddress != null and fileAddress != '' ">
                   fileAddress = #{fileAddress},
            </if>
            <if test= "statuteTypeId != null">
                 statute_type_id = #{statuteTypeId},
            </if>
        </set>
        WHERE statute_id = #{statuteId}
    </update>

    <select id="queryByIdAndName" resultMap="statuteResultMap">
        SELECT s.statute_id,s.statute_name,s.details,s.statute_update_time,s.fileAddress,st.statute_type_id,st.statute_type_name,st.statute_type_update_time
        FROM statute s,statute_type st
        WHERE s.statute_type_id = st.statute_type_id
        <if test="statuteTypeId != null">
            AND s.statute_type_id = #{statuteTypeId}
        </if>
        <if test="statuteName != null and statuteName != ''">
            AND statute_name Like #{statuteName}
        </if>
    </select>
</mapper>