<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WFacilityClass2Mapper">
    <resultMap id="queryAllWfacilityClass2Result" type="wFacilityClass2">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="queryAllWfacilityClass2" resultMap="queryAllWfacilityClass2Result">
        SELECT * FROM w_facility_class2
    </select>
</mapper>