<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WInventoryManagementMapper">
    <resultMap id="wInventoryManagementResultMap" type="wInventoryManagement">
        <result property="inventoryNo" column="inventory_no"></result>
        <result property="inventoryDate" column="inventory_Date"></result>
        <result property="auditStatus" column="auditStatus"></result>
        <result property="preparedBy" column="prepared_by"></result>
        <result property="reviewedBy" column="reviewed_by"></result>
    </resultMap>

    <insert id="add">
        INSERT INTO w_inventory_management(inventory_no,inventory_date,prepared_by_id)
        VALUES (#{inventoryNo},#{inventoryDate},#{preparedById})
    </insert>

    <update id="update">
        UPDATE w_inventory_management
        SET auditStatus = #{auditStatus}
        WHERE inventory_no = #{inventoryNo}
    </update>

    <delete id="delete">
        DELETE FROM w_inventory_management
        WHERE inventory_no = #{inventoryNo}
    </delete>

    <select id="queryByCondition" resultMap="wInventoryManagementResultMap" parameterType="wInventoryManagementQueryDto">
        SELECT im.inventory_no,im.inventory_date,u1.user_name as prepared_by,im.auditStatus,u2.user_name as reviewed_by
        FROM t_user u1,t_user u2,w_inventory_management im
        WHERE u1.id=im.prepared_by_id AND u2.id=im.reviewed_by_id
        <if test="startTime!=null ">
            <![CDATA[   and DATE_FORMAT(im.inventory_date, '%Y-%m-%d') >=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endTime!=null ">
            <![CDATA[  and DATE_FORMAT(im.inventory_date, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="auditStatus != null and auditStatus != 0">
            AND im.auditStatus = #{auditStatus}
        </if>
        <if test="inventoryNo != null and inventoryNo != 0">
            AND im.inventory_no = #{inventoryNo}
        </if>
    </select>
    <select id="queryByInventoryNo" resultType="java.lang.Integer">
           SELECT auditStatus
           FROM w_inventory_management
           WHERE inventory_no = #{inventoryNo}
    </select>

</mapper>