<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WlocationXlaMapper">
    <resultMap id="queryByWregionIdResult" type="wLocation">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>
    <select id="queryByWregionId" resultType="wLocation">
        SELECT id,name FROM w_location WHERE region_id=#{wRegionId}
    </select>
</mapper>