<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WPickingDetailsMapper">

    <resultMap id="wFacilityUnitResultMap" type="wFacilityUnit">
        <id property="id" column="id"/>
        <result property="unit" column="unit"/>
    </resultMap>

    <resultMap id="wFacilityManagementResultMap" type="wFacilityManagement">
        <id property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="model" column="model"/>
        <association property="facilityUnit" resultMap="wFacilityUnitResultMap"/>
    </resultMap>

    <resultMap id="wPickingDetailsResultMap" type="wPickingDetails">
        <id property="id" column="id"/>
        <result property="pickingNo" column="picking_no"/>
        <result property="receiptNo" column="receipt_no"/>
        <result property="quantity" column="quantity"/>
        <association property="wfacilityManagement" resultMap="wFacilityManagementResultMap"/>
    </resultMap>

    <insert id="add">
        INSERT INTO w_picking_details (picking_no,receipt_no,facility_management_id,quantity,unitPrice)
        VALUES <foreach item="data" collection="list" separator=",">
                (#{data.pickingNo},#{data.receiptNo},#{data.wfacilityManagementId},#{data.quantity},#{data.unitPrice})
              </foreach>
    </insert>
    <delete id="delete">
        DELETE FROM w_picking_details
        WHERE picking_no = #{pickingNo}
    </delete>

    <select id="queryByPickingNo" resultMap="wPickingDetailsResultMap">
        SELECT pd.id,pd.picking_no,fm.number,fm.name,fm.model,fu.unit,pd.receipt_no,pd.quantity,pd.unitPrice
        FROM  w_picking_details pd,w_facility_management fm,w_facility_unit fu
        WHERE  fm.number = pd.facility_management_id AND fm.facility_unit_id = fu.id AND pd.picking_no = #{pickingNo}
    </select>

</mapper>