<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WPickingManagementMapper">

    <resultMap id="wPickingManagementResultMap" type="wPickingManagement">
        <id property="pickingNo" column="picking_no"/>
        <result property="pickingDate" column="picking_date"/>
        <result property="personalDept" column="pdept"/>
        <result property="preparedBy" column="prepared_by"/>
        <result property="auditStatus" column="auditStatus"/>
        <result property="reviewedBy" column="reviewed_by"/>
    </resultMap>

    <insert id="add">
        INSERT INTO w_picking_management (picking_no,picking_date,personal_dept_id,prepared_by_id)
        VALUES (#{pickingNo},#{pickingDate},#{personalDeptId},#{preparedById})
    </insert>

    <update id="update">
        UPDATE w_picking_management
        SET auditStatus = #{auditStatus}
        WHERE picking_no = #{pickingNo}
    </update>

    <select id="queryByCondition" resultMap="wPickingManagementResultMap">
        SELECT pm.picking_no,pm.picking_date,d.pdept,u1.user_name prepared_by,pm.auditStatus,u2.user_name reviewed_by
        FROM t_user u1,t_user u2,w_picking_management pm,p_dept d
        WHERE u1.id = pm.prepared_by_id AND u2.id = pm.reviewed_by_id AND d.pdept_id = pm.personal_dept_id
        <if test="startTime != null">
            AND pm.picking_date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND pm.picking_date &lt;= #{endTime}
        </if>
        <if test="pdeptId != null and pdeptId != 0">
            AND pm.personal_dept_id = #{pdeptId}
        </if>
        <if test="auditStatus != null and auditStatus != 0">
            AND pm.auditStatus = #{auditStatus}
        </if>
        <if test="pickingNo != null and pickingNo != 0">
            AND pm.picking_no = #{pickingNo}
        </if>
    </select>

</mapper>