<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxa.mapper.WReturnManagementMapper">

    <resultMap id="wReturnManagementResultMap" type="wReturnManagement">
        <id property="returnNo" column="return_no"/>
        <result property="returnDate" column="return_date"/>
        <result property="personalDept" column="pdept"/>
        <result property="preparedBy" column="prepared_by"/>
        <result property="auditStatus" column="auditStatus"/>
        <result property="reviewedBy" column="reviewed_by"/>
    </resultMap>

    <update id="add">
        UPDATE w_return_management
        SET return_date = #{returnDate}, personal_dept_id = #{personalDeptId},prepared_by_id = #{preparedById}
        WHERE return_no = #{returnNo}
    </update>

    <update id="update">
        UPDATE w_return_management
        SET auditStatus = #{auditStatus},reviewed_by_id = #{reviewedById}
        WHERE return_no = #{returnNo}
    </update>

    <delete id="delete">
        DELETE FROM w_return_management
        WHERE return_no = #{returnNo}
    </delete>

    <select id="queryByCondition" resultMap="wReturnManagementResultMap">
        SELECT v.return_no,v.return_date,v.pdept,v.prepared_by,v.auditStatus,u2.user_name reviewed_by
        FROM
        (SELECT rm.return_no,rm.return_date,d.pdept,u1.user_name prepared_by,rm.auditStatus,reviewed_by_id
        FROM t_user u1,w_return_management rm,p_dept d
        WHERE u1.id = rm.prepared_by_id AND d.pdept_id = rm.personal_dept_id
        <if test="startTime != null">
            AND rm.return_date &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND rm.return_date &lt;= #{endTime}
        </if>
        <if test="pdeptId != null and pdeptId != 0">
            AND rm.personal_dept_id = #{pdeptId}
        </if>
        <if test="auditStatus != null and auditStatus != 0">
            AND rm.auditStatus = #{auditStatus}
        </if>
        <if test="returnNo != null and returnNo != 0">
            AND rm.return_no = #{returnNo}
        </if> ) v
        LEFT JOIN t_user u2 ON u2.id = v.reviewed_by_id
    </select>

    <select id="queryByReturnNo" resultType="java.lang.Integer">
        SELECT auditStatus
        FROM w_return_management
        WHERE return_no = #{returnNo}
    </select>

</mapper>